<IfModule mod_rewrite.c>
    RewriteEngine On 
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteRule ^index\.php$ - [L] 
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_FILENAME} !-d
	
    RewriteRule ^absensi/([\s\S]*)$ index.php [L]
	RewriteRule ^absensi/([\s\S]*)/([\s\S]*)$ index.php [L]

    RewriteRule ^konfirmasi/([\s\S]*)$ index.php [L]
	RewriteRule ^konfirmasi/([\s\S]*)/([\s\S]*)$ index.php [L]

    RewriteRule ^testongoing/([\s\S]*)$ index.php [L]
	RewriteRule ^testongoing/([\s\S]*)/([\s\S]*)$ index.php [L]

    RewriteRule ^rules/([\s\S]*)$ index.php [L]
	RewriteRule ^rules/([\s\S]*)/([\s\S]*)$ index.php [L]

	RewriteRule ^logout$ logout.php [L]
	RewriteRule ^login$ login.php [L]
	RewriteRule ^([a-zA-Z0-9]+)$ $1.php [L]

	RewriteRule ^checked$ checked.php [L]
	RewriteRule ^checked/([\s\S]*)$ checked.php?page=$1 [L]

#	RewriteCond %{REMOTE_ADDR} !^123\.456\.789\.00
#	RewriteCond %{REMOTE_ADDR} !^987\.654\.321\.00
#	RewriteCond %{REQUEST_URI} !/maintenance [NC]
#	RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
#	RewriteRule .* https://cbtonline.pkbmteladan.sch.id/* [R=503,L]
#	ErrorDocument 503 /maintenance.html
</IfModule>
